body{
    justify-content: center;
    justify-items: center;
position: relative;
width: 100vw;
height: 100vh;
background: linear-gradient(to bottom right, #274B74 0%, #8233C5 50%, #E963FD 100%);
font-family: "Montserrat", sans-serif;
overflow: hidden;
}